.main{
	padding: 200px 0;
	background-color: #000;
	background-image: url(../img/main.jpg);
	background-repeat: repeat-x;
	background-position: center;
	h1{
	color: #FFF;
	text-shadow: 2px 2px 2px #000;
	}
	h4{
		color: #888888;
	}
}

.feature{
	.box-innner{
	background: #fff;
	padding: 20px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 10px #ccc; 
	box-shadow: 0 0 10px #ccc; 
	margin: 20px 0;
	}
}

.post{
	display: block;
	margin-bottom: 20px;
	overflow: hidden;
}

.footer{
	background-color: #444;
	padding: 100px 0;
	small{
		color: #FFF;
		font-size: 1rem;
	}
}
